footer {
    background-color:white;
    height:60px;
    width:100%;
    color: black;
    border-top: 1px #CCCCCC solid;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 100%;
}